<%= provide(:title, "Home") %>
<div class="row">
<div class="container">
<div class="wide">
  	<div class="col-xs-5 line"><hr></div>
    <div class="col-xs-2 logo">All Purpose Networking  </div>
    <div class="col-xs-5 line"><hr></div>
    
</div>
</div>
	<%= image_tag("digital-marketing.png", width: "100%", height:"7%") %>

  
<div class="container wrapper">
<div class="m-t-1">
<center><br>
<h2>Servicing <i>Chicagoland's</i> Networking needs for years</h2><br><br>
<p><b><em>All Purpose Networking</em></b> was founded by Jeffrey Hulford in the summer of 2015. Offering services such as AWS hosting, private servers, custom maintenance and repair, we aim to offer our clients a well rounded experience.<br><br>

<%= image_tag("server.jpg", width: "100%", height: "35%")
%>  
 
<br><br> Our current clients include dental and real estate offices, industrial services, top 3PL distribution companies in the midwest, and several other small businesses.<br><br>

All Purpose Networking utilizes the latest technologies and skills to make your business perform optimally. Heroku, Amazon Web Services(AWS) and Beanstalk are what we use to host our clients, and even the most intense bandwidth demands won't phase us. <br><br>

We offer not only hosting, but DevOps consultation, <a href="http://tempestwebdesign.com" target="_blank" >Web Design and Development</a>, server maintenance and repair, Operating System Services, as well as software and hardware services.<br><br>

Our clients are often big named and have specialized issues that they need someone who simply <i>knows</i> his craft. That's us. With over two decades of experience, All Purpose Networking offers Chicagoland and surrounding areas a high level of expertise.<br><br>

That doesn't mean that we turn away "the little guy." In fact, we love tackling issues for small businesses - sometimes you don't need an entire company to come out and look at what your problem is. Sometimes you just need one guy who <em>really</em> knows what he's doing.<br><br> You will usually hear a response back from us without 24 hours of requesting a quote or service.

<br><br><br><br> <b><%= link_to "References are available upon request.", contact_path %></b></p>
</center>
</div>
</div>
</div>