<%= provide(:title, "Home") %>
<div class="container wrapper">
<div class="m-t-1">
<center><br>
<h2>Servicing Chicagoland's Networking needs for years</h2><br><br>
<em><p>All Purpose Networking was founded by Jeffrey Hulford in the summer of 2015. Offering services such as AWS hosting, private servers, custom maintenance and repair, we aim to offer our clients a well rounded experience.</em><br><br>

<%= image_tag("server.jpg", width: "485", height: "330")
%>  
 
<br><br> Our current clients include dental and real estate offices, industrial services, top 3PL distribution companies in the midwest, and several other small businesses.<br><br>

All Purpose Networking utilizes the latest technologies and skills to make your business perform optimally. Heroku, Amazon Web Services(AWS) and Beanstalk are what we use to host our clients, and even the most intense bandwidth demands won't phase us. <br><br>

We offer not only hosting, but DevOps consultation, <a href="http://tempestwebdesign.com" target="_blank" >Web Design and Development</a>, server maintenance and repair, Operating System Services, as well as software and hardware services.

<br><br><br><br> <b>References are available upon request.</b></p>
</center>
</div>
</div>