<footer class="footer">
      <div class="container-fluid">
        <p>Copyright 2016-2017, Jeffrey Hulford.</p>
        <small><a href="http://tempestwebdesign.com/">A Tempest Web Design Solution</a></small>
      </div>
</footer>