<header>
		<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">APN</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/pages#about">About</a></li>
        <li><a href="#about">Blog</a></li>
        <li><a href="#about">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Admin Login</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="wide">
  	<div class="col-xs-5 line"><hr></div>
    <div class="col-xs-2 logo">All Purpose Networking  </div>
    <div class="col-xs-5 line"><hr></div>
</div>

<div class="container-fluid">
<br>
<div id="la" class="owl-carousel itemsScaleUp-false owl-theme">
  
  <div class="item"> <%= image_tag("digital-marketing.png")
%>  
</div>


</div>

</div>
</div>
</div>
<script>
$(document).ready(function() {
 
  $("#la").owlCarousel({
 
      navigation : true, // Show next and prev buttons
      slideSpeed : 600,
      paginationSpeed : 600,
      singleItem:true,
      autoPlay: 3200,
      responsiveRefreshRate: 30,
      lazyLoad: true
 
      // "singleItem:true" is a shortcut for:
      // items : 1, 
      // itemsDesktop : false,
      // itemsDesktopSmall : false,
      // itemsTablet: false,
      // itemsMobile : false
 
  });

  $(".itemsScaleUp-false").owlCarousel({
    items: 1,
    itemsScaleUp:false
  });
 
});
</script>

</header>

